@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "DM Sans", sans-serif !important;
    font-feature-settings: "kern" !important;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.5px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #727070;
}

input.defaultCheckbox::before {
  content: url(../src/assets/svg/checked.svg);
  color: white;
  opacity: 0;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
}

input:checked.defaultCheckbox::before {
  opacity: 1;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.heartbeat {
  display: inline-block; /* or block */
  animation: heartbeat 1s infinite;
}
.dark\:bg-blueSecondary {
  background: #000;

  /* Your styles for the 'dark:bg-blueSecondary' class */
}
.dark\:p-treetable-thead {
  background: #000 !important;
}
.sapna {
  background-color: #000 !important;
}

.p-datatable .p-datatable-header {
  padding: 0px;
  border: none;
  background: none;
}
.p-toolbar {
  background: none;
  padding: 15px 0px 3px 0px;
}
.p-datatable-wrapper {
  border-radius: 18px 18px 0px 0px;
}
.p-datatable .p-datatable-thead > tr > th {
  background-color: #a3aed0;
  border: none;
}
.p-datatable .p-paginator-bottom {
  border-radius: 0px 0px 18px 18px;
  background-color: #a3aed0;
  border: none;
}
.p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 2rem;
  height: 2rem;
}
.p-dropdown-label {
  display: flex;
  align-items: center;
}
.p-paginator .p-dropdown {
  height: 2rem;
}

.list-btn {
  border-right: 2px solid #a8a2a2;
  border-radius: 6px 0px 0px 6px;
}
.grid-btn {
  border-radius: 0px 6px 6px 0px;
}
.p-dataview .p-dataview-header {
  padding: 0px;
  background: none;
  border: none;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
}
.p-dataview.p-dataview-list .p-dataview-content > .p-grid > div {
  border: none;
  border-width: 0px;
}
.p-dataview .p-dataview-content {
  background: none;
}
.p-tag {
  font-size: 0.55rem;
}
.p-paginator {
  background: none;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #fff;
}
.p-datatable .p-sortable-column:focus {
  box-shadow: none;
}
.top-button {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 4px;
  z-index: 9999;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.top-button.show {
  display: block;
}

.top-button:hover {
  opacity: 1;
}
.p-input-icon-left > i:first-of-type,
.p-input-icon-left > svg:first-of-type,
.p-input-icon-left > .p-input-prefix {
  text-shadow: 1px 1px 2px #333;
}
#root
  > div
  > div
  > div.sm\:none.duration-175.linear.fixed.\!z-50.flex.min-h-full.flex-col.bg-white.pb-10.shadow-2xl.shadow-white\/5.transition-all.dark\:\!bg-navy-800.dark\:text-white.md\:\!z-50.lg\:\!z-50.xl\:\!z-0.translate-x-0
  > ul
  > a:nth-child(1)
  > div
  > li
  :focus-visible {
  outline: none;
}
.p-tag-value {
  font-size: 0.8rem;
  font-weight: 500;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0rem;
}
.p-dropdown-panel .p-dropdown-items {
  text-align: center;
  padding: 0rem;
}
.p-fluid .p-inputtext:focus {
  box-shadow: none;
}
.dark .p-dialog .p-dialog-header {
  color: #fefefe;
  background: #070d22;
}
.dark .p-dialog .p-dialog-header .p-dialog-header-icon {
  color: #fefefe;
}
.dark .p-dialog .p-dialog-content {
  background: #070d22;
  color: #fefefe;
}
.dark .p-dialog .p-dialog-footer {
  background: #070d22;
  color: #fefefe;
}
.p-fluid .p-dialog-footer .p-button {
  color: #fefefe;
  border: none;
}
.dark .p-fluid .p-inputtext {
  background-color: #111c44 !important;
  color: #fefefe;
}
.dark .p-fluid .p-dropdown {
  background: #111c44;
}
.dark .p-dropdown-items-wrapper {
  background: #111c44;
  color: #fefefe;
}

.dark .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: #fefefe;
}
.dark .p-datatable .p-datatable-thead > tr > th {
  background-color: #111c44;
  color: #ddd;
}
.dark .p-datatable .p-paginator-bottom {
  background-color: #111c44;
  color: #fefefe;
}
.dark .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background-color: #070d22;
}
.p-column-filter-buttonbar .p-button:not(.p-button-icon-only) {
  background-color: #422afb;
  outline: none;
  border: none;
  color: #fefefe;
}
.dark .p-column-filter-overlay-menu .p-column-filter-constraint:last-child {
  background: #111c44;
}
.dark .p-column-filter-overlay-menu .p-column-filter-buttonbar,
.dark .p-multiselect-panel .p-multiselect-header {
  background: #111c44;
}
.dark .p-multiselect-panel {
  background: #111c44;
  color: #fefefe;
}
.dark .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  color: #fefefe;
}
.p-button:enabled:active,
.p-button:not(button):not(a):not(.p-disabled):active {
  background: none;
  border: none;
  box-shadow: none;
}
.p-button:enabled:focus,
.p-button:not(button):not(a):not(.p-disabled):focus {
  background: none;
  border: none;
  box-shadow: none;
}
.p-button:enabled:hover,
.p-button:not(button):not(a):not(.p-disabled):hover {
  background: none;
  border: none;
  box-shadow: none;
  color: #070d22;
}
.dark .p-dropdown .p-dropdown-label {
  color: #fefefe;
}
.dark .p-menu.p-menu-overlay {
  background: #070d22;
  color: #ddd;
}
.dark .p-menu .p-menuitem-link .p-menuitem-icon,
.dark .p-menu .p-menuitem-link .p-menuitem-text {
  color: #ddd;
}

body
  > div.p-datepicker.p-component.p-ripple-disabled.p-connected-overlay-enter-done {
  width: 250px;
}
.p-datepicker table td > span {
  height: 1rem;
  width: 1rem;
}
.p-datepicker table {
  width: 237px;
  font-size: 0.8rem;
}
.p-datepicker table td > span {
  border-radius: 0px;
}
.p-calendar .p-inputtext {
  padding: 10px 10px;
  text-align: left;
}
.p-tabview-nav {
  justify-content: center;
}
.p-tabview .p-tabview-nav {
  background: none;
  border: none;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  color: #918c8c;
  background: none;
  font-weight: 500;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border-radius: 0px;
}
.highlight {
  background-color: yellow; /* Change this to the desired highlight color */
  /* Add any other styles to highlight the matched text */
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:hover {
  background: none;
}
.p-tabview .p-tabview-panels {
  border-radius: 0px;
}
.p-tabview
  .p-tabview-nav
  li:not(.p-highlight):not(.p-disabled):hover
  .p-tabview-nav-link {
  background: none;
  border-color: #adb5bd;
  color: #6c757d;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link:hover {
  background: #ffffff;
}
.p-tabview .p-tabview-nav .p-tabview-ink-bar {
  display: none;
}
.p-inputtext:enabled:focus {
  box-shadow: none;
}
.dark .p-tabview .p-tabview-panels {
  background: transparent;
}
.dark .p-paginator .p-dropdown .p-dropdown-label {
  color: #111c44;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link:hover {
  background: none;
}
.dark .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: none;
}
.vehicle-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.vehicle-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.card-body {
  padding: 20px;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.card-actions button {
  margin-right: 8px;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0rem 1rem;
}
.p-dropdown-panel .p-dropdown-items {
  text-align: left;
}
.card-actions button:last-child {
  margin-right: 0;
}
.setting:enabled:active,
.setting:not(button):not(a):not(.p-disabled):active {
  background: none;
  color: #a9abf8;
  border: 1px solid #a9abf8;
}
.setting:enabled:hover {
  border: 1px solid #a9abf8;
}

.pi-pencil {
  color: #a9abf8;
}
.p-dataview .p-paginator-bottom {
  border-width: 0px;
  border-radius: 0;
}
.edit:hover {
  border: 1px solid #a9abf8 !important;
}
.dark
  .p-multiselect-panel
  .p-multiselect-items
  .p-multiselect-item.p-highlight {
  background: transparent;
}

.dark-mode .radio-input {
  background: #422afb;
}
.route4,
.route5 {
  display: none !important;
}
@keyframes ellipsis {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  67% {
    content: "...";
  }
}

.custom-toast .p-toast-summary::after {
  content: ".";
  animation: ellipsis 1s infinite;
  display: inline-block;
  width: 1em;
}

@media (max-width: 767px) {
  /* CSS styles for screens up to 767px wide (mobile devices) */
  .grid {
    display: grid;
    grid-template-columns: auto;
    column-gap: 20px;
  }
  .footer-content {
    gap: 0.7rem;
  }
  .text-base {
    font-size: 0.8rem;
  }
  .dropdowns {
    display: block;
  }
  .field {
    width: 94%;
  }
  .searchbox {
    width: 50vw;
  }
  .custom-tooltip {
    display: none;
  }
}
